/* Import font from Google fonts */
@import url(https://fonts.googleapis.com/css?family=Istok+Web:regular,italic,700,700italic);

/* Initialized font style and set base font size */
body {
  font-family: "Istok Web";
  font-size: 1em;
  background-color: #f2e9e4;
  color: #22223b;
}

/* Set container size and style */
.container {
  width: 70%;
  margin: 0 auto;
  padding: 0;
}

header h1 {
  font-weight: 700;
  /* text-align: center; */
  margin-top: 15px;
  font-size: 3em;
}

table {
  border-collapse: separate;
  /* text-align: center; */
  font-size: 1.5em;
  width: 100%;
  margin-top: 10px;
  padding: 0px;
  border-spacing: 0;
  background-color: #c9ada7;
  border-radius: 10px;
  border: 1px solid #a18c87;
  box-shadow: 0 30px 100px 2px #c9ada7;
}
table th {
  font-weight: 700;
  font-size: 1em;
}
.table .head-field,
.data-field {
  border: 3px solid #a18c87;
  padding: 10px 5px;
}
.data-field {
  border-top: none;
  font-size: 1.25rem;
}
.table .head-field-left {
  border-top-left-radius: 10px;
  border: 3px solid #a18c87;
}
.table .head-field-right {
  border-top-right-radius: 10px;
  border: 3px solid #a18c87;
}
.table .data-field-left {
  border-bottom-left-radius: 10px;
  border: 3px solid #a18c87;
  border-top: none;
}
.table .data-field-right {
  border-bottom-right-radius: 10px;
  border: 3px solid #a18c87;
  border-top: none;
}
